<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
        body{
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Lato';
        }
        .box{
            background: brown;
            padding: 34px;
            border-radius: 27px;
        }
    </style>
    <title>Idiot</title>
</head>
<body>
    <div class="box">
        <h1>You Have Been Scamed!!</h1>
    </div>
</body>
</html>